# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Expo
.expo/

# Original videos (not included because of repository size limits)
packages/assets/videos

# IDE
.idea

app.ci.json

